
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');



:root {
    --cor-primaria: #2B3467;
    --cor-secudaria: #FCFFE7;
    --cor-terciaria: #80c9f7;
    --cor-quaternaria: #EB455F;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
   

}


* { 
    margin: 0%; 
    padding: 0%;
}


body { 
    box-sizing: border-box; 
    background-color: var(--cor-primaria); 
    color: var(--cor-secudaria); 
}

.cabecalho {
    padding: 2% 0% 0% 12%;
    
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}


.cabecalho__menu_link {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-terciaria);
    text-decoration: none;
}


.apresentacao { 
    padding: 5% 12%; 
    display: flex;
    align-items: flex-start;
    justify-content: space-between; 
    gap: 82px;
}


.apresentacao__conteudo { 
    width: 3,13rem; 
    display: flex;
    flex-direction: column; 
    gap: 40px; 
}


.apresentacao__conteudo__titulo { 
    font-size: 2.25rem; 
    font-family: var(--fonte-primaria);
}


.apresentacao__conteudo__titulo:hover {
    color: var(--cor-quaternaria);
}

.titulo-destaque { 
    color: var(--cor-terciaria); 
}


.apresentacao__conteudo__texto { 
    font-size: 1.5rem; 
    font-family: var(--fonte-secundaria); 
}



.apresentacao__conteudo__texto__strong:hover {
    color: var(--cor-quaternaria);

}


.apresentacao__links {  
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    align-items: center; 
    gap: 32px; 
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria); 
    font-weight: 400;
    font-size: 1.5rem; 
}


.apresentacao__links__navegacao { 
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%; 
    text-align: center; 
    border-radius: 30px; 
    font-size: 1.5rem; 
    font-weight: 600;   
    padding: 25.1px 0;
    text-decoration: none;
    color: var(--cor-secudaria);
    font-family: var(--fonte-secundaria);  
    border: 3px outset var(--cor-terciaria);
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-quaternaria);
    padding: 3%;
}



/*funções transition e transform no hover para ter um efeito de aumento de tamanho,Quando você passar o mouse pela imagem ela vai aumentar de tamanho numa escala de 1 para 1.1, em um período de 0.5s.*/

.apresentacao__imagem { 
    width: 3,25rem; 
    transition-duration: 0.5s;
    
}
.apresentacao__imagem:hover { 
    transform: scale(1.1);     
   
}


.rodape {
    color: #000000;
    background-color: var(--cor-quaternaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
    
}


@media (max-width: 1200px) { 
    .cabecalho {
        padding: 5%;
    }   
  
    .cabecalho__menu {
        justify-content: center;
    }

  
    .apresentacao {  
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width:auto;

    }

    .apresentacao__imagem {
        width: 60%; 
        padding: 5% 0% 0% 20%;
        
    }




    .apresentacao__conteudo__1skill {
        
        margin: 5px 10px 15px 30px;

                                     
    }

    .apresentacao__1skill {
        padding: 5px 10px 15px 30px;
        flex-wrap:wrap-reverse;
        
                                     
    }


     
    .apresentacao__conteudo__skill {
        padding: 5%;
        flex-direction: column;
        align-items: center;
        width: auto;
        
                
    }



}






p:hover {
    color: #eccdd260;
}


strong {
    color: var(--cor-quaternaria);
}


h1:hover {
    color: #eccdd260;
}



h1:hover + p {
    color: #eccdd260;
}

section:hover {
    color: #eccdd260;

}




/* INICIO Pagina MAIN 1 Skill------------------------------------------------------------*/


.apresentacao__conteudo__1skill {
    padding: 5% 12%; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    gap: 3px;

}





.imagem__frontend {
    width: 35%; 
}

.apresentacao__1skill__titulo {
    font-size: 1.75rem; 
    font-family: var(--fonte-primaria);

}

.apresentacao__1skill__titulo:hover {
    color: var(--cor-quaternaria);
}


/* FINAL Pagina MAIN 1 Skill------------------------------------------------------------*/


/* INICIO Pagina MAIN 2 Skill------------------------------------------------------------*/

.apresentacao__conteudo__skill { 
    padding: 1% 8% 5% 12%; 
    display: flex;
    justify-content: space-between; 
    gap: 82px;
}

.apresentacao__skill {
    width: 1,875rem; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 40px; 
}


.apresentacao__skill__titulo {
    font-size: 0.95rem; 
    font-family: var(--fonte-primaria);
}

.apresentacao__skill__titulo:hover {
    color: var(--cor-quaternaria);
}

h1:hover + div {
    background-color: var(--cor-quaternaria);
    border: 3px mixed (--cor-terciaria); 
        
}


.apresentacao__skill__subtitulo {
    font-size: 1,25rem; 
    color: var(--cor-quaternaria);
}

.apresentacao__skill__div{
    padding: 5%;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    align-items: center; 
    gap: 20px;  
    color: var(--cor-secudaria);
    border: 3px dotted var(--cor-terciaria); 
}

/* FINAL Pagina MAIN 2 Skill------------------------------------------------------------*/


